<div class="pt-5 pt-lg-6 d-flex align-items-center ">
<div class="container-fluid mt--7 align-card">
    <div class="col-xl-8 order-xl-1 align-items-center">
     
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-1">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">{{operadorId? 'Alterar Operador': 'Criar Operador'}}</h3>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm">
                            <div class="row" *ngIf="tipoUsuario !== 'operador'">
                                <label for="nomeUsuario" class="form-control-label">Nome do Operador:
                                    <span class="text-danger"> * </span></label>
                                <input [(ngModel)]="operador.nomeUsuario" type="text"
                                    class="form-control form-control-alternative" id="nomeUsuario" name="nomeUsuario"
                                    placeholder="Nome do operador" #nomeUsuario="ngModel" required [maxlength]="50"
                                    uniqueOperador [operadorId]="operador.id" [empresaId]="empresaId">
                                <div *ngIf="nomeUsuario.invalid && (nomeUsuario.dirty || nomeUsuario.touched)"
                                    class="text-danger">
                                    <div class="alert alert-warning" role="alert"
                                        *ngIf="nomeUsuario.errors?.['required']">Nome é obrigatório.</div>
                                    <div class="alert alert-warning" role="alert"
                                        *ngIf="nomeUsuario.errors?.['uniqueOperador']">Nome já existe.</div>
                                </div>
                            </div>
                            <div class="row">
                                <label for="senha" class="form-control-label">Senha:
                                    <span class="text-danger"> * </span></label>
                                <div class="input-group input-group-alternative">
                                    <input [(ngModel)]="operador.senha" type="{{viewPassword? 'text' : 'password'}}"
                                        class="form-control form-control-alternative" id="senha" name="senha"
                                        placeholder="Senha" #senha="ngModel" required="{{operador.id? 'false': 'true'}}"
                                        [maxlength]="50">
                                    <div class="input-group-append">
                                        <span class="material-symbols-outlined input-group-text mousepoint"
                                            (click)="showPassword()">
                                            {{viewPassword?'visibility_off': 'visibility'}}
                                        </span>
                                    </div>
                                </div>
                                <div *ngIf="senha.invalid && (senha.dirty || senha.touched)" class="text-danger">
                                    <div class="alert alert-warning" role="alert" *ngIf="senha.errors?.['required']">
                                        Senha é obrigatório.</div>
                                </div>
                            </div>
                            <div class="row" *ngIf="tipoUsuario !== 'operador'">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="tipoAcesso" class="form-control-label">Escolha o tipo de acesso:
                                            <span class="text-danger"> * </span></label>
                                        <select [(ngModel)]="operador.tipoAcesso"
                                            class="form-control form-control-alternative" id="tipoAcesso"
                                            name="tipoAcesso">
                                            <option value="total" selected>Permissão Total</option>
                                            <option value="modificar">Permissão Alteração/Leitura</option>
                                            <option value="leitura">Permissão apenas Leitura</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-left">
                                    <a class="btn btn-warning my-4 text-left" routerLink='/empresa/{{empresaId}}/operadores'>Voltar</a>
                                </div>

                                <div class="col text-right">
                                    <input type="submit" value="Salvar" class="btn btn-primary my-4"
                                        (click)="save()" [disabled]="!form.valid || form.pending">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="requestFailed">
                <span class="alert-inner--text">{{errorMsg? errorMsg: 'Um erro ocorreu'}}</span>
                <button type="button" class="close" (click)="checkError()" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="requestSuccess">
                Operação efetuada com sucesso!
            </div>
        </div>
    </div>
</div>
</div>