<div class="container">
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-1">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Criar Produto</h3>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm">
                            <div class="row">
                                <label for="nomeProduto" class="form-control-label">Nome do Produto:
                                    <span class="text-danger"> * </span></label>
                                <input [(ngModel)]="produto.nome" type="text"
                                    class="form-control form-control-alternative" id="nomeProduto" name="nomeProduto"
                                    placeholder="Nome do Produto" #nomeProduto="ngModel"
                                    disabled="{{acesso === 'leitura'? true: false}}" uniqueProduto
                                    [produtoId]="produto.id" [empresaId]="empresaId" required [maxlength]="50">
                                <div *ngIf="nomeProduto.invalid && (nomeProduto.dirty || nomeProduto.touched)"
                                    class="text-danger">
                                    <div class="alert alert-warning" role="alert"
                                        *ngIf="nomeProduto.errors?.['required']">Nome do produto é obrigatório.</div>
                                    <div class="alert alert-warning" role="alert"
                                        *ngIf="nomeProduto.errors?.['uniqueProduto']">Nome do produto já existe.</div>
                                </div>
                            </div>
                            <div class="row">
                                <label for="descricao" class="form-control-label">Descrição: </label>
                                <textarea [(ngModel)]="produto.descricao" type="text"
                                    class="form-control form-control-alternative" id="descricao" name="descricao"
                                    placeholder="Descrição" rows="3" [maxlength]="255"
                                    disabled="{{acesso === 'leitura'? true: false}}"></textarea>
                            </div>

                            <div class="row">
                                <label for="preco" class="form-control-label">Preço:
                                    <span class="text-danger"> * </span></label>
                                <input [(ngModel)]="produto.preco" type="number" step=".01"
                                    class="form-control form-control-alternative" id="preco" name="preco"
                                    placeholder="Preço" #preco="ngModel"
                                    disabled="{{acesso === 'leitura'? true: false}}" required>
                                <div *ngIf="preco.invalid && (preco.dirty || preco.touched)" class="text-danger">
                                    <div class="alert alert-warning" role="alert" *ngIf="preco.errors?.['required']">
                                        Preço é obrigatório.</div>
                                </div>
                            </div>

                            <div class="row">
                                <label for="unidade" class="form-control-label">Unidade: 
                                    <span class="text-danger"> * </span></label>
                                <input [(ngModel)]="produto.unidade" type="text"
                                    class="form-control form-control-alternative" id="unidade" name="unidade"
                                    placeholder="Unidade do Produto" #unidade="ngModel"
                                    disabled="{{acesso === 'leitura'? true: false}}" required [maxlength]="50">
                                <div *ngIf="unidade.invalid && (unidade.dirty || unidade.touched)" class="text-danger">
                                    <div class="alert alert-warning" role="alert" *ngIf="unidade.errors?.['required']">
                                        Unidade do produto é obrigatório.</div>
                                </div>
                            </div>

                            <div class="row">
                                <label for="estoqueMinimo" class="form-control-label">Estoque Mínimo:</label>
                                <input [(ngModel)]="produto.estoqueMinimo" type="number" step=".01"
                                    class="form-control form-control-alternative" id="estoqueMinimo" name="estoqueMinimo"
                                    placeholder="Estoque Mínimo do Produto" #estoqueMinimo="ngModel"
                                    disabled="{{acesso === 'leitura'? true: false}}">
                            </div>

                            <div class="row">
                                <label for="estoqueMaximo" class="form-control-label">Estoque Máximo:</label>
                                <input [(ngModel)]="produto.estoqueMaximo" type="number" step=".01"
                                    class="form-control form-control-alternative" id="estoqueMaximo" name="estoqueMaximo"
                                    placeholder="Estoque Maximo do Produto" #estoqueMaximo="ngModel"
                                    disabled="{{acesso === 'leitura'? true: false}}">
                            </div>

                            <div class="row">
                                <label for="pontoReposicao" class="form-control-label">Ponto de Reposição:</label>
                                <input [(ngModel)]="produto.pontoReposicao" type="number" step=".01"
                                    class="form-control form-control-alternative" id="pontoReposicao" name="pontoReposicao"
                                    placeholder="Ponto de Reposição do Produto" #pontoReposicao="ngModel"
                                    disabled="{{acesso === 'leitura'? true: false}}">
                            </div>

                            <div class="row">
                                <div class="col text-left">
                                    <a class="btn btn-warning my-4 text-left" routerLink='/empresa/:empresaId/produtos'>Voltar</a>
                                </div>

                                <div class="col text-right">
                                    <input type="submit" value="Salvar" class="btn btn-primary my-4"
                                        (click)="save()" [disabled]="!form.valid || form.pending || acesso === 'leitura'">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="requestFailed">
                <span class="alert-inner--text">Um erro ocorreu</span>
                <button type="button" class="close" (click)="checkError()" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="requestSuccess">
                Operação efetuada com sucesso!
            </div>
        </div>
    </div>
</div>