<div class="container">
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-1">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">{{EstoqueId? 'Alterar Estoque': 'Criar Estoque'}}</h3>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm">
                            <div class="row">
                                <label for="nomeEstoque" class="form-control-label">Nome do Estoque: 
                                    <span class="text-danger"> * </span></label>
                                <input [(ngModel)]="Estoque.nome" type="text"
                                    class="form-control form-control-alternative" id="nomeEstoque" name="nomeEstoque"
                                    placeholder="Nome do Estoque" #nome="ngModel"
                                    disabled="{{acesso === 'leitura'? true: false}}" uniqueEstoque
                                    [EstoqueId]="Estoque.id" [empresaId]="empresaId" required [maxlength]="50">
                                <div *ngIf="nome.invalid && (nome.dirty || nome.touched)">
                                    <div class="alert alert-warning" role="alert" *ngIf="nome.errors?.['required']">Nome
                                        é obrigatório.</div>
                                    <div class="alert alert-warning" role="alert"
                                        *ngIf="nome.errors?.['uniqueEstoque']">Nome já existe.</div>
                                </div>
                            </div>
                            <div class="row">
                                <label for="descricao" class="form-control-label">Descrição: </label>
                                <textarea [(ngModel)]="Estoque.descricao" type="text"
                                    class="form-control form-control-alternative" id="descricao" name="descricao"
                                    placeholder="Descrição" rows="3" [maxlength]="255"
                                    disabled="{{acesso === 'leitura'? true: false}}"></textarea>
                            </div>
                            <div class="row">
                                <div class="col text-left">
                                    <a class="btn btn-warning my-4 text-left" routerLink='/empresa/{{empresaId}}/estoques'>Voltar</a>
                                </div>

                                <div class="col text-right">
                                    <input type="submit" value="Salvar" class="btn btn-primary my-4"
                                        (click)="save()" [disabled]="!form.valid || form.pending || acesso === 'leitura'">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="requestFailed">
                <span class="alert-inner--text">{{errorMsg? errorMsg: 'Um erro ocorreu'}}</span>
                <button type="button" class="close" (click)="checkError()" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="requestSuccess">
                Operação efetuada com sucesso!
            </div>
        </div>
    </div>
</div>