
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 500px; background-image: url(assets/img/theme/teste4.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->

</div>
<div class="container-fluid mt--7">
    <div class="row justify-content-center">

        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Home</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                   
                  <h2 class="text-center">Bem vindo ao QIM!</h2>
                  <div class="text-center">
                  <a class="btn btn-primary my-4" routerLink="/login">Login</a>
                  <button type="button" class="btn btn-primary my-4" routerLink="/empresa/create">Criar Empresa</button>
                  </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-11 text-right">
                    <a href="/" class="text-light"><small>Home</small></a>
                </div>
            </div>
        </div>
    </div>
</div>