<div class="container-fluid mt--7">
  <div class="row align-item">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h5 class="mb-0">Lista de empresas</h5></div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Razão Social</th>
                <th scope="col">Situação</th>
                <th scope="col">Armazenagem</th>
                <th scope="col">Termos de uso</th>
                <th scope="col">Data de criação</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let empresa of empresas | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
                <td><a routerLink="/admin/empresa/update/{{empresa.id}}">{{empresa.nomeUsuario}}</a></td>
                <td>{{empresa.razaoSocial}}</td>
                <td>{{empresa.situacaoConta}}</td>
                <td>{{empresa.tipoArmazenagem}}</td>
                <td>{{empresa.aceiteTermosUso? "Aceitos": "Não Aceitos"}}</td>
                <td>{{convertDate(empresa.dataCadastro)}}</td>
                <td>
                  <button type="button" class="btn btn-success btn-sm ml-1"
                    *ngIf="empresa.situacaoConta === 'EM_ANALISE'" (click)="aprovarEmpresa(empresa)">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-warning btn-sm ml-1"
                    *ngIf="empresa.situacaoConta === 'EM_ANALISE'" (click)="reprovarEmpresa(empresa)">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteEmpresa(empresa)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls class="radius-style align-style" (pageChange)="paginaAtual = $event"
            previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
        </div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="requestFailed">
          <span class="alert-inner--text">{{errorMsg? errorMsg: 'Um erro ocorreu'}}</span>
          <button type="button" class="close" (click)="checkError()" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>