<div class="container">
  <div class="card list-category shadow">
    <h5 class="card-header">Lista de Produtos</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col">Unidade</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of produtos | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
            <td><a routerLink="/empresa/{{entity.empresaId}}/produto/update/{{entity.id}}">{{entity.nome}}</a></td>
            <td>{{entity.descricao}}</td>
            <td>{{entity.preco | currency}}</td>
            <td>{{entity.unidade}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm ml-1" *ngIf="acesso === 'total'"
                (click)="deleteProduto(entity)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="radius-style align-style" (pageChange)="paginaAtual = $event" previousLabel="Anterior"
        nextLabel="Próximo"></pagination-controls>
    </div>
  </div>