<div class="container">
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-1">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Criar Lote</h3>
                    </div>
                    <div class="card-body">
                        <form #form="ngForm">
                            <div class="row">
                                <label for="codigoLote" class="form-control-label">Codigo do Lote: </label>
                                <input [(ngModel)]="lote.codigoLote" type="text"
                                    class="form-control form-control-alternative" id="codigoLote" name="codigoLote"
                                    placeholder="Codigo do Lote" #codigoLote="ngModel"
                                    disabled="{{acesso === 'leitura'? true: false}}" uniqueLote [loteId]="lote.id"
                                    [empresaId]="empresaId" required [maxlength]="50">
                                <div *ngIf="codigoLote.invalid && (codigoLote.dirty || codigoLote.touched)"
                                    class="text-danger">
                                    <div class="alert alert-warning" role="alert" *ngIf="codigoLote.errors?.['required']">Código do Lote é obrigatório.</div>
                                    <div class="alert alert-warning" role="alert" *ngIf="codigoLote.errors?.['uniqueLote']">Lote já existe.</div>
                                </div>
                            </div>
                            <div class="row text-right">
                                <input type="submit" value="Salvar" class="btn btn-primary my-4" (click)="save()"
                                    [disabled]="!form.valid || form.pending || acesso === 'leitura'">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>