<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="separator separator-bottom separator-skew zindex-100">

    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="text-center">
                    <a routerLink="/">
                      <img class="imgred" src="./assets/img/brand/red.png">
                    </a>
                </div>

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>Faça o Login</small>
                    </div>

                    <form role="form" #form="ngForm">

                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">


                                <select [(ngModel)]="usuario.tipo" class="form-control" name="tipo">
                                    <option value="empresa">Empresa</option>
                                    <option value="operador">Operador</option>
                                    <option value="administrador">Administrador</option>
                                </select>
                            </div>

                        </div>


                        <div class="form-group mb-3" *ngIf="usuario.tipo === 'operador'">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-shop"></i></span>
                                </div>

                                <input [(ngModel)]="usuario.nomeEmpresa" type="text" class="form-control"
                                    id="nomeEmpresa" name="nomeEmpresa" placeholder="Nome da empresa"
                                    #nomeEmpresa="ngModel" required>
                            </div>
                            <div *ngIf="usuario.tipo === 'operador'">
                                <div *ngIf="nomeEmpresa.invalid && (nomeEmpresa.dirty || nomeEmpresa.touched)"
                                    class="text-danger">
                                    <div class="alert alert-warning" role="alert"
                                        *ngIf="nomeEmpresa.errors?.['required']">
                                        Nome da empresa é obrigatório.</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                </div>
                                <input [(ngModel)]="usuario.nomeUsuario" type="text" class="form-control"
                                    id="nomeUsuario" name="nomeUsuario" placeholder="Nome do usuário"
                                    #nomeUsuario="ngModel" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input [(ngModel)]="usuario.senha" type="{{viewPassword? 'text' : 'password'}}" class="form-control" id="senha"
                                    name="senha" placeholder="senha" #senha="ngModel" required>
                                <div class="input-group-append">
                                    <span class="material-symbols-outlined input-group-text mousepoint" (click)="showPassword()">
                                       {{viewPassword?'visibility_off': 'visibility'}}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-warning" role="alert" *ngIf="msgError">
                            {{msgError}}
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Entrar" class="btn btn-warning my-4" (click)="login()"
                                [disabled]="!form.valid || form.pending">
                        </div>
                    </form>
                </div>
            </div>



            <!--ALERT NOME DO USUÁRIO-->

            <div *ngIf="nomeUsuario.invalid && (nomeUsuario.dirty || nomeUsuario.touched)">
                <div class="alert alert-warning" role="alert" *ngIf="nomeUsuario.errors?.['required']">
                    Nome do usuário é obrigatório.</div>
            </div>

            <!--SENHA-->
            <div *ngIf="senha.invalid && (senha.dirty || senha.touched)">
                <div class="alert alert-warning" role="alert" *ngIf="senha.errors?.['required']">Senha é obrigatório.
                </div>
            </div>
        </div>
    </div>
</div>