<div class="container">
    <div class="card list-category">
      <h5 class="card-header">Lista de Almoxarifados</h5>
      <div class="card-body">
        <button type="button" class="btn btn-primary" routerLink="create" *ngIf="acesso === 'total'">Criar Almoxarifado</button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of almoxarifados">
              <td><a routerLink="update/{{entity.id}}">{{entity.nome}}</a></td>
              <td>
                <button type="button" class="btn btn-danger btn-sm ml-1" *ngIf="acesso === 'total'" (click)="deleteAlmoxarifado(entity)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>