<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
      aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="./assets/img/brand/red.png" class="navbar-brand-img" alt="...">
    </a>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['#']">
              <img src="./assets/img/brand/red.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search"
            aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <ul class="navbar-nav">

        <li class="nav-item">

          <!--ADMINISTRADOR-->
          <a routerLinkActive="active" routerLink="/admin/empresas" class="nav-link"
            *ngIf="getTipo() === 'administrador'">
            <i class="ni ni-bullet-list-67 text-primary"></i>Lista de Empresas</a>

          <a routerLinkActive="active" routerLink="/admin/empresa/create" class="nav-link"
            *ngIf="getTipo() === 'administrador'">
            <i class="ni ni-fat-add text-primary"></i>Criar Empresa</a>
          <!--EMPRESA-->
          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/operador/create" class="nav-link"
            *ngIf="getTipo() === 'empresa' && situacao === 'APROVADO'">
            <i class="ni ni-fat-add text-primary"></i>Criar Operador</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/operadores" class="nav-link"
            *ngIf="getTipo() === 'empresa'">
            <i class="ni ni-bullet-list-67 text-primary"></i>Listar Operadores</a>

          <a routerLinkActive="active" routerLink="#" class="nav-link"
            *ngIf="getTipo() === 'empresa'">
            <i class="ni ni-sound-wave text-primary"></i>Vizualizar Estatistica de Estoque</a>

          <a routerLinkActive="active" routerLink="#" class="nav-link"
            *ngIf="getTipo() === 'empresa'">
            <i class="ni ni-chart-bar-32 text-primary"></i>Analisar curva ABC do estoque</a>

          <!--OPERADOR-->
          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/estoque/create" class="nav-link"
            *ngIf="getTipo() === 'operador' && acesso === 'total'">
            <i class="ni ni-fat-add text-primary"></i>Criar Estoque</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/estoques" class="nav-link"
            *ngIf="getTipo() === 'operador'">
            <i class="ni ni-bullet-list-67 text-primary"></i>Listar Estoque</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/produto/create" class="nav-link"
            *ngIf="getTipo() === 'operador' && acesso === 'total'">
            <i class="ni ni-fat-add text-primary"></i>Criar Produto</a>
          
          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/produtos" class="nav-link"
            *ngIf="getTipo() === 'operador'">
            <i class="ni ni-bullet-list-67 text-primary"></i>Listar Produtos</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/lote/create" class="nav-link"
            *ngIf="getTipo() === 'operador' && acesso === 'total'">
            <i class="ni ni-fat-add text-primary"></i>Criar lote</a>
          
          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/lotes" class="nav-link"
            *ngIf="getTipo() === 'operador'">
            <i class="ni ni-bullet-list-67 text-primary"></i>Listar Lote</a>
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
      <h6 class="navbar-heading text-muted">Configurações</h6>
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">

          <!--ADMINISTRADOR-->
          <a routerLinkActive="active" routerLink="/admin/{{getId()}}" class="nav-link" *ngIf="getTipo() === 'administrador'">
            <i class="ni ni-collection text-primary"></i>Informações do Administrador</a>

          <!--EMPRESA-->
          <a routerLinkActive="active" routerLink="/empresa/{{getId()}}/infoempresa" class="nav-link" *ngIf="getTipo() === 'empresa'">
            <i class="ni ni-collection text-primary"></i>Informações da Empresa</a>

          <a routerLinkActive="active" routerLink="#" class="nav-link" *ngIf="getTipo() === 'empresa'">
            <i class="ni ni-collection text-primary"></i>Informações</a>
          <!--OPERADOR-->
          <a routerLinkActive="active" routerLink="#" class="nav-link" *ngIf="getTipo() === 'operador'">
            <i class="ni ni-collection text-primary"></i>Informações do Operador</a>

          <a routerLinkActive="active" routerLink="#" class="nav-link" *ngIf="getTipo() === 'operador'">
            <i class="ni ni-collection text-primary"></i>Informações</a>
          <!--USUARIOS-->
          
          <a routerLinkActive="active" class="nav-link" (click)="sair()" routerLink="#">
            <i class="ni ni-button-power text-primary"></i>Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>