<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white position" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
      aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="./assets/img/brand/red.png" class="navbar-brand-img" alt="...">
    </a>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a routerLinkActive="active" [routerLink]="['#']">
              <img src="./assets/img/brand/red.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navigation -->

      <!--ADMINISTRADOR-->
      <div *ngIf="getTipo() === 'administrador'">
        <h6 class="navbar-heading text-muted">Empresa</h6>
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">

            <a routerLinkActive="active" routerLink="/admin/empresas" class="nav-link"
              *ngIf="getTipo() === 'administrador'">
              <i class="ni ni-bullet-list-67 text-danger"></i>Lista de Empresas</a>

            <a routerLinkActive="active" routerLink="/admin/empresa/create" class="nav-link"
              *ngIf="getTipo() === 'administrador'">
              <i class="ni ni-fat-add text-danger"></i>Criar Empresa</a>

          </li>
        </ul>
      </div>
      <!--EMPRESA-->
      <div *ngIf="getTipo() === 'empresa'">
        <h6 class="navbar-heading text-muted">Operador</h6>
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">

            <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/operador/create" class="nav-link"
              *ngIf="getTipo() === 'empresa' && situacao === 'APROVADO'">
              <i class="ni ni-fat-add text-danger "></i>Criar Operador</a>

            <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/operadores" class="nav-link"
              *ngIf="getTipo() === 'empresa'">
              <i class="ni ni-bullet-list-67 text-danger "></i>Listar Operadores</a>
          </li>
        </ul>

        <h6 class="navbar-heading text-muted" *ngIf="getTipo() === 'empresa'">Gestão</h6>
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">

            <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/estatistica/" class="nav-link"
              *ngIf="getTipo() === 'empresa'">
              <i class="ni ni-sound-wave text-danger "></i>Visualizar Estatísticas</a>

            <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/curvaabc/" class="nav-link" *ngIf="getTipo() === 'empresa'">
              <i class="ni ni-chart-bar-32 text-danger "></i>Analisar curva ABC</a>
          </li>
        </ul>
      </div>
      <!--OPERADOR-->

      <div *ngIf="getTipo() === 'operador'"></div>
      <h6 class="navbar-heading text-muted" *ngIf="getTipo() === 'operador'">Estoque</h6>
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/operacao" class="nav-link"
            *ngIf="getTipo() === 'operador' && (acesso === 'total' || acesso == 'modificar')">
            <i class="ni ni-fat-add text-danger "></i>Realizar operação</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/transferencia" class="nav-link"
            *ngIf="getTipo() === 'operador' && (acesso === 'total' || acesso == 'modificar')">
            <i class="ni ni-fat-add text-danger "></i>Realizar transferência</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/estoque/create" class="nav-link"
            *ngIf="getTipo() === 'operador' && acesso === 'total'">
            <i class="ni ni-fat-add text-danger "></i>Criar Estoque</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/estoques" class="nav-link"
            *ngIf="getTipo() === 'operador'">
            <i class="ni ni-bullet-list-67 text-danger "></i>Listar Estoque</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/lotes" class="nav-link"
            *ngIf="getTipo() === 'operador'">
            <i class="ni ni-bullet-list-67 text-danger "></i>Listar lote</a>

        </li>
      </ul>

      <h6 class="navbar-heading text-muted" *ngIf="getTipo() === 'operador'">Produto</h6>
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/produto/create" class="nav-link"
            *ngIf="getTipo() === 'operador' && acesso === 'total'">
            <i class="ni ni-fat-add text-danger "></i>Criar Produto</a>

          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/produtos" class="nav-link"
            *ngIf="getTipo() === 'operador'">
            <i class="ni ni-bullet-list-67 text-danger "></i>Listar Produtos</a>
        </li>
      </ul>


      <h6 class="navbar-heading text-muted">Configurações</h6>
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <!--ADMINISTRADOR-->
          <a routerLinkActive="active" routerLink="/admin/{{getId()}}" class="nav-link"
            *ngIf="getTipo() === 'administrador'">
            <i class="ni ni-collection text-danger "></i>Informações do Administrador</a>

          <!--EMPRESA-->
          <a routerLinkActive="active" routerLink="/empresa/{{getId()}}/infoempresa" class="nav-link"
            *ngIf="getTipo() === 'empresa'">
            <i class="ni ni-collection text-danger "></i>Informações da Empresa</a>

          <!--OPERADOR-->
          <a routerLinkActive="active" routerLink="/empresa/{{getEmpresaId()}}/operador/update/{{getId()}}"
            class="nav-link" *ngIf="getTipo() === 'operador'">
            <i class="ni ni-collection text-danger "></i>Informações do Operador</a>

          <!--USUARIOS-->

          <a routerLinkActive="active" class="nav-link" (click)="sair()" routerLink="#">
            <i class="ni ni-button-power text-danger "></i>Sair</a>

        </li>
      </ul>

    </div>
  </div>
</nav>